.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.canvas {
  /* Sharp rendering for text */
  image-rendering: auto; 
  cursor: pointer;
}